.common_password_strength_check_box {
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 10;
    width: 100%;

    .common_password_condition_text_box {
        margin-bottom: 10px;


        .common_password_condition_icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #ccc;
            display: inline-block;
            margin-right: 10px;
            color: var(--black);
        }

        &.condition-met {
            .common_password_condition_icon {
                background-color: rgb(177, 229, 225);
                color: var(--black);
            }
        }
    }

    .common_password_strength_gage_wrapper {
        margin-top: 20px;

        p {
            margin-bottom: 5px;
        }

        .common_password_strength_gage {
            width: 100%;
            background-color: #eee;
            border-radius: 25px;

            div {
                height: 10px;
                background-color: green;
                width: 0%;
            }
        }
    }
}